@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(/CSS/img/background1.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;

}


.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(18, 28, 29, 0.8);
}

.logo {
    height: 80px;
    width: 80px;
    margin-top: 8px;
    margin-left: 8px;
}

.nav_ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

.nav_li {
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    list-style: none;
    height: 40px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    transition: ease-in-out 0.3s;
}

.nav_li:hover {
    text-shadow: 5px 5px 20px #aaa4ff;
    font-size: 20px;
    cursor: pointer;
}